.tableLeft2ndBlockProjectsText {
	position:absolute;
	top: 173px;
	left: 164px;
	width: 71px;
	height: 67px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	color: #000000;
}


