.tableLeft2ndBlockProjectsTitle {
	position:absolute;
	top: 313px;
	left: 217px;
	width: 197px;
	color: #fefefe;
	font-size: 48px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
}


