extends Hometask.jade
block cont
	div(class='link')
		a(href='localhost:9000/List1.html') Link1
	div(class='link')
		a(href='localhost:9000/List2.html') Link2
	div(class='link')
		a(href='localhost:9000/List3.html') Link3
	div(class='link')
		a(href='localhost:9000/List4.html') Link4
	