extends Hometask.jade
block cont
	style.
		.link {width:80%;}
		.blockLink {width: 40%;}
	img(src='https://sunny7.ua/upload/photos/1341855535763bf23cff5f9.06395558_articles_main_big.jpg')
	div(class='blockLink')
		div(class='link')
			a(href='localhost:9000' target='_self') To the main page