extends Hometask.jade
block cont
	style.
		.link {width:80%;}
		.blockLink {width: 40%;}
	img(src='http://ekoday.ru/wp-content/uploads/2016/02/3-skorlupa-gretskogo-oreha-lesnogo-oreha-fistashek.jpg')
	div(class='blockLink')
		div(class='link')
			a(href='localhost:9000' target='_self') To the main page