extends Hometask.jade
block cont
	style.
		.link {width:80%;}
		.blockLink {width: 40%;}
	img(src='https://i.ytimg.com/vi/u86sa1nTbK4/hqdefault.jpg')
	div(class='blockLink')
		div(class='link')
			a(href='localhost:9000' target='_self') To the main page