#red {
	background-color: #ff0000;
}

#blue {
	background-color: #0000ff;
}

#green {
	background-color: #0f0;
}

#purple {
	background-color: #a0f;
	background-color: rgba(170,0,255,0.5);
}

div {
	width: 100px;
	height: 100px;
	margin-top: 10px;
}