
header {
	height: 72px;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	
}

.menu {
	height: 72px;
	width: 940px;
	color: white;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8px;
	box-sizing: border-box;
}

.entrance {
	padding-left: 289px;
	padding-top: 17px;
	width: 76px;
	height: 18px;
	display: flex;
	flex-direction: row;
}

#entrance {
	margin: 0;
	padding-left: 10px;
}

@media screen and (max-width: 992px) {
	.menu {
		width: 740px;
	}

	.entrance {
		padding-left: 200px;
	}
}

@media screen and (max-width: 768px) and (min-width: 577px) {
	.menu {
		width: 575px;
	}

	.entrance {
		padding-left: 54px;
	}
}

@media screen and (max-width: 576px)  {
	header {
		height: 148px;
	}

	.menu {
		width: 310px;
		height: 148px;
		flex-direction: column;
		font-size: 18px;
		flex-wrap: wrap;
	}

	.entrance {
		padding: 0px;

	}

	#menu-list {
		margin: 0;
	}
}
