#article-contact {
	font-size: 30px;
	margin-top: 0;
	width: 322px;
}

.contacts {
	margin-top: 20px;
	width: 300px;
	line-height: 23px;
}

.buttons_section3 {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-left: -11px;
}

form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

input {
	margin-top: 10px;
	width: 140px;
	height: 43px;
	background-color: white;
	border: 2px solid black;
	box-sizing: border-box;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	text-indent: 17px;
}

@media screen and (max-width: 992px) {
	#article-contact {
		width: 287px;
		margin: 0;
		line-height: 33px;
	}

	.contacts {
		margin-top: 25px;
	}
}

@media screen and (max-width: 768px) and (min-width: 577px) {
	.contacts {
		width: 197px;
	}

	.buttons_section3 {
		width: 154px;
		flex-wrap: wrap;
	}

	form {
		height: 275px;
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.contacts {
		margin-top: 6px;
		width: 243px;
	}

	.my-button {
		margin-top: 11px;
	}

	form {
		width: 250px;
	}

	input {
		width: 240px;
	}

	.input-form {
		margin-top: -98px;
	}
}


