.header {
    width: 500px;
    height: 300px;
    background-color: aqua;
}

/*Понимаем что лого находится в header*/
.header__logo {
    width: 100px;
    height: 100px;
    background-color: white;
}


.header__element {
    width: 100px;
    height: 50px;
    top: 155px;
    position: absolute;
    background-color: gray;
}
.header__element_grey_50px {
    left: 50px;
}
    
.header__element_grey_177px {
      left: 177px;  
    }
.header__element_grey_300px {
     left: 300px;   
    }