



/* Не изменяйте селектор и свойства,
которые написаны ниже. Напишите свой селектор,
который иерархически будет выше */

#myid1.class1 {
	color: grey;
	font-size: 20px;
}

#myid1.class1 {
    color: gold;
}