.tableLeft3rdBlockChairPufViewProjectButton {
	position:absolute;
	top: 97px;
	left: 546px;
	width: 105px;
	color: #333333;
	font-size: 18px;
	font-weight: 300;
	line-height: 12px;
	text-transform: uppercase;
	white-space: pre;
}