* {margin: 0;}

.parent1{
	height: 466px;
	width: 1200px;
	background-color: rgb(105,210,230);
	margin-right: 70px;
	margin-left: 0px;
	border-top: 5px solid #fa6900;
	position: relative;
}
.conteiner1{
	position: absolute;
	width: 240px;
	height: 60px;
	top: 34px;
	left: 100px;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
.child1{
	width:50px;
	height: 50px;
	position: absolute;
	box-sizing: border-box;
}
span{
	font-size: 57px;
	font-weight: bold;
	color: white;
	position: absolute;
	top: -19px;
	left: 9px;
}
.child2{
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	top: -5px;
	left: 59px;
}
.child3{
	position: absolute;
	top: 21px;
	left: 60px;
	font-size: 17px;
}
.conteiner2{
	position: absolute;
	width: 400px;
	height: 100px;
	top: 177px;
	left: 402px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.child4{
	position: absolute;
	font-weight: bold;
	font-size: 83px;
	color: white;
	top: -27px;
	left: 64px;
}
	
.child5{
	position: absolute;
	top: 68px;
	color: white;
	left: 21px;
	font-size: 31px;
}
.conteiner3{
	background-color: rgb(105,210,230);
	position: absolute;
	width: 41px;
	height: 41px;
	top: 28px;
	left: 1050px;
	border-radius: 50%;
	border: 2px solid white;
	box-sizing: border-box;
}
.fa-bars{
	font-size: 22px;
	color: white;
	position: absolute;
	top: 7px;
	left: 9px;
}
.parent2{
	height: 531px;
	width: 1200px;
	background-color: rgb(230,230,230);
	position: relative;
}
.cont1{
	position: absolute;
	background-color: rgb(255,255,255);
	width: 834px;
	height: 287px;
	top: -100px;
	left: 184px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
	box-shadow: 0 0 15px grey;
}
.son1{ 
	position: absolute;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
	top: 35px;
	left: 326px;

}
	
.son2{ 
	position: absolute;
	width: 774px;
	font-weight: lighter;
	top: 127px;
	left: 31px;
	font-size: 22px;
	line-height: 34px;
}
.cont2{
	position: absolute;
	background-color: rgb(255,255,255);
	width: 162px;
	height: 162px;
	top: 252px;
	left: 184px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
	}
.son3{ 
	position: absolute;
	font-size: 24px;
	width: 232px;
	top: 184px;
	left: -37px;
	text-align: center;
	line-height: 28px;
}
.cont3{
	position: absolute;
	background-color: rgb(105,210,230);
	width: 162px;
	height: 162px;
	top: 252px;
	left: 520px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
}
.dot1{ 
	position: absolute;
	font-size: 24px;
	width: 232px;
	top: 182px;
	left: -36px;
	text-align: center;
	line-height: 30px;
}
.cont4{
	position: absolute;
	background-color: rgb(255,255,255);
	width: 162px;
	height: 162px;
	top: 252px;
	left: 857px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
}
.shape-9{
	top: 40px;
	left: 35px;
	position: absolute;
}
.shape-7{
	top: 42px;
	left: 35px;
	position: absolute;
}
.shape-8{
	top: 34px;
	left: 40px;
	position: absolute;
}
.dot2{ 
	position: absolute;
	font-size: 24px;
	width: 232px;
	top: 182px;
	left: -37px;
	text-align: center;
	line-height: 30px;
}
.parent3{
	width: 1200px;
	height: 472px;
	background-color: #fa6900;
	position: relative;
}
.conta1{
	position: absolute;
	width: 787px;
	height: 60px;
	top: 37px;
	left: 208px;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: lighter;
	color: white;
	line-height: 32px;
	text-align: center;	
}
.block1{
	position: relative;
	background-color: rgb(255,255,255);
	width: 444px;
	height: 289px;
	top: 153px;
	left: 384px;
	border-radius: 5px;
	z-index: 3;
}
.top{
	position: absolute;
	top: -1px;	
}
.url{
	position: absolute;
	top: 7px;
	left: 48px;
}
.search{
	position: absolute;
	top: 10px;
	left: 421px;
}
.form1{
	position: absolute;
	top: 149px;
	left: 396px;
}
.form2{
	position: absolute;
	top: 149px;
	left: 18px;
}
.block2{
	position: absolute;
	background-color: rgb(255,255,255);
	width: 444px;
	height: 289px;
	top: 153px;
	left: 158px;
	border-radius: 5px;
	z-index: 2;
	opacity: 0.6;
}
.block3{
	position: absolute;
	background-color: rgb(255,255,255);
	width: 444px;
	height: 289px;
	top: 153px;
	left: 621px;
	border-radius: 5px;
	z-index: 1;
	opacity: 0.6;
}