div {
    background-color: blue;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
width: 75px;
    height: 0px;
    transition-duration: 3s;
    overflow: hidden;
    position: absolute;
    margin-top:
padding: 0 0 50px;
margin: 50px 0 0;
   
}

.Menu:hover ~ .content, .content:hover {
     background-color: grey;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: block;
    width: 140px;
    height: 70px;
}
ol {
    list-style-type: square;
}
.class1 {
width: 50px;
    height: 0px;
    transition-duration: 3s;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 250px;
   
}
.About-us:hover ~ .class1, .class1:hover {
     background-color: grey;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: block;
    width: 140px;
    height: 120px;
}
ol {
    list-style-type: square;
}