.store-item_price {
    color: rgb(200, 25, 216);
}
.store-item_desc {
    color: rgb(40, 158, 123);
}
.store-item {
    background-color: rgb(233, 183, 19);
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-around;
}