.store-item_price {
    color: yellow;
}
.store-item_desc {
    color: rgb(150,150,150);
}
.store-item {
    background-color: rgb(212, 96, 81);
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-around;
}