.store-item_price {
    color: rgb(17, 0, 255);
}
.store-item_desc {
    color: rgb(190, 43, 43);
}
.store-item {
    background-color: rgb(72, 155, 127);
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-around;
}