body {
    height: 1000vh; 
}
        
/*
#main {
    border: 2px solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px;
}
*/

#container {
    width: 300px;
    height: 300px;
    border: 0.5px solid;
    border-radius: 5%;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    background-color: white;
    display: none;
}

#filter {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(40,40,40,0.5);
    top: 0;
    left: 0;
    display: none;
}

.fa.fa-times{
    position: absolute;
    font-size: 30px;
    border-radius: 20%;
    left: 262px;
    border: 3px solid black;
    top: 5px;
}
#icon:hover {
    transition: 1s ease;
    color: darkslateblue;
}