body {
    font-family: Rockwell, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1024px;
    height: 1365px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    padding-left: 47px;
    padding-top: 26px;
    box-sizing: border-box;
}

a {
    color: black;
}

.div {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    width: 929px;
}

.header {
    width: 199px;
    height: 80px;
    font-size: 89px;
    opacity: 0.08;
    color: #545454;
    margin: 0 auto;
}

.nav {
    height: 55px;
    margin-top: 32px;
}

.menu {
    height: 24px;
    font-size: 18px;
    color: #5b5b5b;
    margin-left: 47px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/*****************   INPUT *****************/
.my__input {
    width: 262px;
    height: 31px;
    transition: all .5s;
    font-size: 16px;
}

.my__input:hover{
  background-color: #FEE1D1;
}

.my__input:focus {
  background-color: #fff;
}

input::placeholder {
    text-indent: 10px;
    opacity: 0.19;
    color: #5b5b5b;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}
/**************** INPUT END *******************/

.section {
    height: 375px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    width: 929px;
    height: 375px;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}

.s2-content {
    width: 224px;
    height: 375px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.s2-foto {
    margin: 6px auto;
}

.lorem-txt {
    color: #343433;
    font-size: 12px;
    font-weight: 400;
    text-indent: 35px;
}

.mrg-txt {
    margin: 5px 7px 0 14px;
}

.more-txt {
    align-self: flex-end;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 27px;
    margin-right: 12px;
}

.more-mrg {
    align-self: flex-end;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 19px;
    margin-right: 6px;
}

.section3 {
    height: 172px;
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
/*    align-items: center;*/
}

.s3-block-foto {
    width: 215px;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.s3-txt {
    width: 681px;
    height: 165px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.footer {
    height: 55px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    box-sizing: border-box;
}

.footer-block {
    width: 434px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer-txt {
    margin: 0;
    color: #535353;
}

@media screen and (max-width: 768px) {   
    .wrapper {
        width: 100%;
        padding: 26px 47px 0 47px;
    }
    .div {
        width: 100%;
    }
    .menu {
        margin-left: 20px;
    }
    .my__input {
        width: 40%;
    }
    .section {
        height: auto;
    }
    .bgfon {
        width: 97%;
        margin: 8px auto;
    }
    .section2 {
        height: 29%;
    }
    .s2-content {
        width: 100%;
    }
    .s2-foto {
        width: 90%;
    }
    .section3 {
        height: 20%;
    }
    .s3-foto {
        width: 46%;
        height: 45%;
        margin-left: 5px;
    }
    .s3-block-foto {
        width: 80%;
        height: auto;
    }
    .s3-txt {
        width: 100%;
        margin-left: 17px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 704px) {
     .section2 {
        height: 30%;
    }
      .section3 {
        height: 22%;
    }
    .menu {
        margin-left: 15px;
    }
}

@media screen and (max-width: 622px) {
    .section2 {
        height: 33.5%;
    }
     .section3 {
        height: 25.5%;
    }
    .menu {
        margin-left: 5px;
    }
}