.header {
    width: 500px;
    height: 300px;
    background-color: aqua;
}

/*Понимаем что лого находится в header*/
.header__logo {
    width: 100px;
    height: 100px;
    background-color: white;
}

/* Контейнер для 3-х Элементов, дабы в дальнейшем чтобы можно было использовать этот контейнер для позиционирований этих 3-х Элементов сразу, а не по отдельности каждый элемент */
.header__container_ofgreyElements {
    width: 350px;
    height: 100px;
    margin: 45px 0 0 25px;
}

/* B element-grey для удобства добавлю еще header__ , чтобы было понятней где имеено находится Элемент с цветом - серый. */
.header__element_grey {
    width: 80px;
    height: 48px;
    background-color: #808080;
    float: left;
    margin-left: 20px;
}