/*@import url(css/header__logo.css);
@import url(css/header__element1.css);
@import url(css/header__element2.css);
@import url(css/header__element3.css);*/

.header {
	position: relative;
	top:300px;
	left:0;
	right:0;
	width:700px;
	height:500px;
	margin:0 auto;
	background-color: aqua;
}