.tableLeft3rdBlockLouis__text_position_style {
	position: absolute;
	top: 44px;
	left: 29px;
	width: 88px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
	line-height: 14px;
	text-transform: uppercase;
}